

.about {
  background-color: black;
  font-size: 1.1em;
}

.img-thumbnail{
  background-color: black;
  border-color:black;
}

.background{
  background-color:black;
}

.img-resize {
  width: 10em;
}

.style {
  font-size: 20px;
}

.listItems{
  margin-top:15px;
  font-family: 'Pathway Gothic One', sans-serif;
  color:white;
  font-weight:100;
  font-size: 20px;    
  font-weight: bold;
}


.body-title-style {
  font-size: 25px;
  font-weight: 800;
}

