.about {
  background-color: black;
  font-size: 1.1em;
}

.img-thumbnail{
  background-color: black;
  border-color:black;
}

.star-wars-crawl{
  height: 800px;
  top:-100px;

}


.fade {
  position: relative;
  width: 100%;
  min-height: 15vh;
  top: -50px;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 1;
}

.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100vh;
  color: yellow;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
  overflow:hidden;
}

.crawl {
  position: relative;
  /* top: 99999px; */
  top:-800px;
  transform-origin: 50% 100%;
  animation: crawl 80s infinite linear;
  height: 800px;

  /* animation-iteration-count: infinite; */

}
p{
  color:yellow;
}
.crawl > .title {
  font-size: 90%;
  text-align: center;
  /* animation-iteration-count: infinite; */


}

.crawl > .title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
  /* animation-iteration-count: infinite; */

}

@keyframes crawl {
0% {
    top: 10px;
    transform: rotateX(20deg)  translateZ(0);
  }
100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}

/* .profile {
  max-width: 18em;
} */

/* .my-details {
  background-color: rgba(255, 255, 255, 0.747);
} */