@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@600&display=swap');


.about {
  background-color: black;
  font-size: 1.1em;
}

.img-thumbnail{
  background-color: black;
  border-color:black;
}

.star-wars-crawl{
  height: 800px;
  top:-100px;

}

.background{
  background-color:black;
}

.listItems{
  color:white;
font-family:'Pathway Gothic One', sans-serif ;
}

h1{
  font-family: 'Pathway Gothic One', sans-serif;
    color:white;
    font-weight:700;
}

/* .profile {
  max-width: 18em;
} */

/* .my-details {
  background-color: rgba(255, 255, 255, 0.747);
} */