.custom-img {
  height: 100vh;
  object-fit: cover;
}

.home{
  background-color: black;
  
}

.hero{
  position: absolute;
  top: 64%;
  left: 50%;
  z-index: 3;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0,0,0,.75);
    -webkit-transform: translate3d(-50%,-50%,0);
       -moz-transform: translate3d(-50%,-50%,0);
        -ms-transform: translate3d(-50%,-50%,0);
         -o-transform: translate3d(-50%,-50%,0);
            transform: translate3d(-50%,-50%,0);
            /* opacity: 0; */
            -webkit-transition: 2s all ease-in-out .1s;
               -moz-transition: 2s all ease-in-out .1s; 
                -ms-transition: 2s all ease-in-out .1s; 
                 -o-transition: 2s all ease-in-out .1s; 
                    transition: 2s all ease-in-out .1s; 
}


.overlay {
  position: absolute;
  width: 100%;
  /* height: 100%; */
  z-index: 3;
  background-color: #080d15;
  opacity: .01;
}
/* 
@media screen and (min-width: 980px){
  .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
  .hero h1 { font-size: 4em; }    
} */

.header-details{
  font-family: 'Pathway Gothic One', sans-serif;
  /* color:white; */
  font-weight:700;
  font-size: 6em;    
  font-weight: bold;
  margin-bottom:45px;
  color:black;
  text-shadow: #FC0 1px 0 10px;
}

@media screen and (max-width: 980px){
  .hero { width: 390px; top: 68%; }    
}
@media screen and (max-width: 640px){
  .hero h1 { font-size: 4em; }    
  .hero { top: 55.5%; width: 550px;}
}